Repository bastiannispel/honey-heist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

added serializable and basic model tests
  packages/model/src/__tests__/bear.spec.ts
  packages/model/src/bear.ts
  packages/model/src/clothes.ts
  packages/model/src/stats.ts
  packages/model/types/bear.d.ts
  packages/model/types/clothes.d.ts
  packages/model/types/serializable.d.ts
  packages/model/types/stats.d.ts
  packages/model/utility/__tests__/random.spec.ts
Due: prettier --write, eslint --fix

implemented model unit tests
  jest.config.js
  packages/model/src/__tests__/bear.spec.ts
  packages/model/src/__tests__/clothes.spec.ts
  packages/model/src/__tests__/stats.spec.ts
  packages/model/src/clothes.ts
  packages/model/src/stats.ts
  packages/model/tsconfig.json
  packages/model/types/clothes.d.ts
  packages/model/types/stats.d.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix

Model Tests (#7)
  jest.config.js
  packages/model/src/__tests__/bear.spec.ts
  packages/model/src/__tests__/clothes.spec.ts
  packages/model/src/__tests__/stats.spec.ts
  packages/model/src/bear.ts
  packages/model/src/clothes.ts
  packages/model/src/stats.ts
  packages/model/tsconfig.json
  packages/model/types/bear.d.ts
  packages/model/types/clothes.d.ts
  packages/model/types/serializable.d.ts
  packages/model/types/stats.d.ts
  packages/model/utility/__tests__/random.spec.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix

added ci workflow and prepare-install action
  .github/actions/prepare-install/action.yml
  .github/workflows/ci.yml
  package.json
Due: prettier --write

set yarn version stable in prepare-install action
  .github/actions/prepare-install/action.yml
Due: none

downgraded yarn version to 1.22.19
  .github/actions/prepare-install/action.yml
  .gitignore
  .lintstagedrc
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

changed check-format script
  .husky/pre-commit
  package.json
Due: prettier --write

added pre-push hook
  .husky/pre-push
Due: none

CI (#8)
  .github/actions/prepare-install/action.yml
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-push
  .lintstagedrc
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

added express to backend package and override .eslintrc for tests
  .eslintrc.js
  package.json
  packages/backend/package.json
  packages/backend/tsconfig.json
  packages/model/package.json
  yarn.lock
Due: prettier --write, eslint --fix

setup basic structure for express server
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/routes/bear.ts
  packages/backend/src/routes/index.ts
  packages/backend/tsconfig.json
  packages/model/tsconfig.build.json
Due: prettier --write, eslint --fix

setup basic express server and routes
  .husky/pre-commit
  package.json
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/routes/bear.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/server.ts
  packages/backend/tsconfig.json
  packages/model/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Backend (#9)
  .eslintrc.js
  .husky/pre-commit
  package.json
  packages/backend/package.json
  packages/backend/src/routes/bear.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/server.ts
  packages/backend/tsconfig.json
  packages/model/package.json
  packages/model/tsconfig.build.json
  yarn.lock
Due: prettier --write, eslint --fix

major refactoring from class based model to mongoose schema-models
  packages/backend/jest.config.js
  packages/backend/package.json
  packages/backend/src/utility/__tests__/random.spec.ts
  packages/backend/src/utility/random.ts
  packages/model/package.json
  packages/model/src/__tests__/bear.spec.ts
  packages/model/src/__tests__/clothes.spec.ts
  packages/model/src/__tests__/stats.spec.ts
  packages/model/src/bear.ts
  packages/model/src/clothes.ts
  packages/model/src/index.ts
  packages/model/src/stats.ts
  packages/model/tsconfig.json
  packages/model/types/bear.d.ts
  packages/model/types/clothes.d.ts
  packages/model/types/serializable.d.ts
  packages/model/types/stats.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

improved readability of model schemas
  .prettierrc
  packages/backend/tsconfig.json
  packages/model/src/bear.ts
  packages/model/src/clothes.ts
  packages/model/src/constants.ts
  packages/model/src/index.ts
  packages/model/tsconfig.json
Due: prettier --write, eslint --fix

major package architecture and compiler settings refactoring
  package.json
  packages/backend/.env.sample
  packages/backend/package.json
  packages/backend/src/database/connection.ts
  packages/backend/src/database/index.ts
  packages/backend/src/database/models.ts
  packages/backend/src/routes/bear.ts
  packages/backend/src/server.ts
  packages/backend/src/services/bear.services.ts
  packages/backend/tsconfig.build.json
  packages/backend/tsconfig.json
  packages/model/package.json
  packages/model/src/bear.ts
  packages/model/src/clothes.ts
  packages/model/src/constants.ts
  packages/model/src/index.ts
  packages/model/src/types/bear.ts
  packages/model/src/types/clothes.ts
  packages/model/src/types/index.ts
  packages/model/src/types/stats.ts
  packages/model/src/utility/__tests__/random.spec.ts
  packages/model/src/utility/index.ts
  packages/model/src/utility/random.ts
  packages/model/tsconfig.build.json
  packages/model/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix

reset compilation to commonjs
  jest.config.js
  packages/backend/package.json
  packages/backend/src/database/connection.ts
  packages/backend/src/database/index.ts
  packages/backend/src/routes/bear.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/server.ts
  packages/backend/tsconfig.build.json
  packages/model/package.json
  packages/model/src/utility/__tests__/random.spec.ts
  packages/model/tsconfig.build.json
  tsconfig.base.json
Due: prettier --write, eslint --fix

implemented basic bear controller, service and routes + testing api (wip)
  packages/backend/package.json
  packages/backend/src/controllers/bear.controller.ts
  packages/backend/src/controllers/index.ts
  packages/backend/src/routes/bear.ts
  packages/backend/src/services/bear.services.ts
  packages/backend/src/services/index.ts
  packages/backend/src/types.d.ts
  packages/backend/tsconfig.build.json
  packages/model/src/index.ts
  packages/model/src/types/bear.ts
  packages/model/tsconfig.build.json
Due: prettier --write, eslint --fix

fixed encoding issues for db connection
  packages/backend/src/database/connection.ts
  packages/backend/src/database/index.ts
  packages/backend/src/server.ts
  packages/backend/tsconfig.build.json
Due: prettier --write, eslint --fix

implemented bear GET controller, service and route
  packages/backend/.env.sample
  packages/backend/src/controllers/bear.controller.ts
  packages/backend/src/database/connection.ts
  packages/backend/src/routes/bear.ts
  packages/backend/src/services/bear.services.ts
Due: prettier --write, eslint --fix

disabled @typescript-eslint/no-unsafe-* rules for certain files because mongoose document is partially any-typed
  .husky/pre-commit
  .husky/pre-push
  package.json
  packages/backend/src/controllers/bear.controller.ts
  packages/backend/src/database/models.ts
  packages/backend/src/services/bear.services.ts
Due: prettier --write, eslint --fix

added put and delete endpoints for bear
  .eslintrc.js
  packages/backend/src/controllers/bear.controller.ts
  packages/backend/src/routes/bear.ts
  packages/backend/src/services/bear.services.ts
Due: prettier --write, eslint --fix

renamed services and added validation flag to update method
  packages/backend/src/controllers/bear.controller.ts
  packages/backend/src/routes/bear.ts
  packages/backend/src/services/bear.services.ts
Due: prettier --write, eslint --fix

added cors jsonwebtoken and bcryptjs to backend/dependencies
  packages/backend/package.json
  yarn.lock
Due: prettier --write

split server into app/server components
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/server.ts
  yarn.lock
Due: prettier --write, eslint --fix

added user and role interfaces and models
  packages/backend/src/app.ts
  packages/backend/src/database/models.ts
  packages/backend/src/server.ts
  packages/model/src/types/index.ts
  packages/model/src/types/user.ts
Due: prettier --write, eslint --fix

added database config
  .eslintrc.js
  packages/backend/src/database/config.ts
  packages/backend/tsconfig.build.json
  packages/model/tsconfig.build.json
Due: prettier --write, eslint --fix

added package level eslint files to solve linting issues after build process
  .eslintrc.js
  package.json
  packages/backend/.eslintrc
  packages/backend/package.json
  packages/backend/src/controllers/bear.controller.ts
  packages/backend/src/database/connection.ts
  packages/model/.eslintrc
  packages/model/src/utility/random.ts
  packages/model/tsconfig.build.json
Due: prettier --write, eslint --fix

Package Level ESLint (#14)
  .eslintrc.js
  package.json
  packages/backend/.eslintrc
  packages/backend/package.json
  packages/backend/src/controllers/bear.controller.ts
  packages/backend/src/database/connection.ts
  packages/model/.eslintrc
  packages/model/src/utility/random.ts
  packages/model/tsconfig.build.json
Due: prettier --write, eslint --fix

implemented basic middleware to check model duplication
  package.json
  packages/backend/.env.sample
  packages/backend/src/database/config.ts
  packages/backend/src/database/connection.ts
  packages/backend/src/middleware/verifySignUp.ts
  packages/model/src/types/user.ts
Due: prettier --write, eslint --fix

added jwt middleware and signUp/In controllers
  packages/backend/src/app.ts
  packages/backend/src/controllers/auth.controller.ts
  packages/backend/src/controllers/user.controller.ts
  packages/backend/src/middleware/authJwt.ts
  packages/backend/src/middleware/index.ts
  packages/backend/src/middleware/verifySignUp.ts
  packages/backend/src/routes/auth.routes.ts
  packages/backend/src/routes/bear.routes.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/routes/user.routes.ts
  packages/backend/src/types.d.ts
  packages/model/src/types/user.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,mts,cts,tsx,js,mjs,cjs,jsx,json,md,css}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
